<%- include('Home') %>

    <body>
        <form action="http://localhost:3000/register/" method="POST" id="myform">
            <div>
                <label for="username">Username</label>
                <input type="text" name="username" id="username">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <div>
                <label for="confirmpassword">Confirm Password</label>
                <input type="password" name="confirmpassword" id="confirmpassword">
            </div>

            <button type="submit" id="btn">Register</button>
        </form>

    </body>

    </html>